version: '3'

services:
  db:
    image: postgres:12.5-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: 2299
      ALLOW_IP_RANGE: 0.0.0.0/0
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  app:
    build: .
    command: sh -c "npx sequelize-cli db:migrate && npm start"
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASS=2299
      - DB_NAME=desApp
    depends_on:
      db:
        condition: service_healthy
