services:
  - type: web
    name: remitos-backend
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile.render
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3002
      - key: DATABASE_URL
        sync: false
      - key: RUN_SEEDS
        value: false
      - key: RUN_MIGRATIONS
        value: true
    healthCheckPath: /estado
